.Search__form {
  fieldset {
    margin: 0 0 40px;
    padding: 0;
    border: none;
  }

  legend {
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.Search__submit {
  padding: 10px 20px;
  border-radius: calc(infinity * 1px);
}
