:root {
  --color-foreground: #212529;
  --color-background: #f8f9fa;
  --color-shade: #e9ecef;
  --color-dark: #495057;
  --color-primary: #c2255c;
  --color-focus: #0c8599;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid var(--color-focus);
}

body {
  margin: 0;
  padding: 40px 20px;
  font: 1rem/1.4 sans-serif;
}

a {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

button {
  border: none;
  color: var(--color-background);
  background-color: var(--color-primary);
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
