:root {
  --color-foreground: #252a30;
  --color-background: #e7ebf0;
  --color-light: #f4f7fb;
  --color-shade: #d2d9e2;
  --color-dark: #46505d;
  --color-primary: #b73a67;
  --color-focus: #397082;

  --shadow: 0 0 10px 0 var(--color-shade);
}

*, *::before, *::after {
  box-sizing: border-box;
}

*::selection {
  color: var(--color-light);
  background-color: var(--color-focus);
}

*:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 1px;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 40px 20px 80px;
  color: var(--color-foreground);
  background-color: var(--color-background);
  background: linear-gradient(to bottom, var(--color-background), var(--color-light));
  font: 1rem/1.4 'Roboto', sans-serif;

  @media (width >= 600px) {
    padding-inline: 30px;
  }
}

a {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

button {
  border: none;
  color: var(--color-background);
  background-color: var(--color-primary);
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

h1 {
  margin-block: 40px;
  font-size: 2rem;
  line-height: 1;

  @media (width >= 600px) {
    font-size: 2.75rem;
  }
}

.Common__prose {
  max-width: 800px;
  padding-left: 20px;
  border-left: 5px solid var(--color-shade);

  @media (width >= 600px) {
    padding-left: 30px;
  }

  p {
    margin-block: 20px;
    font-size: 1.125rem;
    line-height: 1.5;
  }
}
